<!-- In this case, it's the symbol :article. This tells the form_for helper what this form is for. Inside the block for this method, the FormBuilder object - represented by f - is used to build two labels and two text fields, one each for the title and text of an article. Finally, a call to submit on the f object will create a submit button for the form. -->
<h1>New Article</h1>
<%= form_for :article, url: articles_path do |f| %>
  <!--e check if there are any errors with @article.errors.any?, and in that case we show a list of all errors with @article.errors.full_messages-->
    <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <!--pluralize is a rails helper that takes a number and a string as its arguments. If the number is greater than one, the string will be automatically pluralized-->
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
 <!--mostrar articles-->
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', articles_path %>
